# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Repos\DS-Apis-Globo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
